.btn-general {
    background: #ce2f27;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    padding: 22px 0;
    max-width: 490px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.03);
        transition: 0.3s;
        border: 1px solid #ffffff;
    }
}

@media (max-width: 992px) {
    .btn-general {
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
    }
}
@media (max-width: 767px) {
    .btn-general {
        max-width: 278px;
    }
}
