<section id="cases" class="cases position-relative">
    <div class="container">
        <h2 class="title-cases position-absolute">
            Наши кейсы
        </h2>
        <!-- <h2 class="title-general d-block d-lg-none title-cases__mobile">
            Наши кейсы
        </h2> -->
        <div
            class="cases-block d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between justify-content-xxl-end">
            <div class="block__cities">
                <h4 class="cities-title">г. Казань</h4>
                <div class="mb-3 mb-xl-4 d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h2 class="cases-nubber mb-2 mb-sm-0 me-0 me-sm-3">411</h2>
                    <p class="applications-per-month__item">заявок <br> в месяц</p>
                </div>
                <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h2 class="cases-nubber mb-2 mb-sm-0 me-0 me-sm-3">61</h2>
                    <p class="applications-per-month__item">договор на <br> оформление <br> виз</p>
                </div>
            </div>
            <div class="block-statistics">
                <img class="mb-3 mb-sm-5" src="img/6-cases/c-1-1.png" alt="">
                <img src="img/6-cases/c-1-2.png" alt="">
            </div>
        </div>

        <div
            class="cases-block d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between justify-content-xxl-end">
            <div class="block__cities">
                <h4 class="cities-title">г. Санкт-Петербург</h4>
                <div class="mb-3 mb-xl-4 d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h2 class="cases-nubber mb-2 mb-sm-0 me-0 me-sm-3">553</h2>
                    <p class="applications-per-month__item">заявок <br> в месяц</p>
                </div>
                <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h2 class="cases-nubber mb-2 mb-sm-0 me-0 me-sm-3">83</h2>
                    <p class="applications-per-month__item">договор на <br> оформление <br> виз</p>
                </div>
            </div>
            <div class="block-statistics">
                <img class="mb-3 mb-sm-5" src="img/6-cases/c-2-1.png" alt="">
                <img src="img/6-cases/c-2-2.png" alt="">
            </div>
        </div>

        <div
            class="cases-block d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between justify-content-xxl-end mb-0">
            <div class="block__cities">
                <h4 class="cities-title">г. Уфа</h4>
                <div class="mb-3 mb-xl-4 d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h2 class="cases-nubber mb-2 mb-sm-0 me-0 me-sm-3">386</h2>
                    <p class="applications-per-month__item">заявок <br> в месяц</p>
                </div>
                <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h2 class="cases-nubber mb-2 mb-sm-0 me-0 me-sm-3">58</h2>
                    <p class="applications-per-month__item">договор на <br> оформление <br> виз</p>
                </div>
            </div>
            <div class="block-statistics">
                <img class="mb-3 mb-sm-5" src="img/6-cases/c-3-1.png" alt="">
                <img src="img/6-cases/c-3-2.png" alt="">
            </div>
        </div>
    </div>
    <img class="b-line position-absolute d-sm-block d-none" src="img/6-cases/bottom-line.png" alt="">
    <img class="b-line-mob position-absolute d-sm-none d-block" src="img/6-cases/bottom-line-mob.png" alt="">
    <!-- <img class="c-abs-all position-absolute" src="../img/6-cases/c-abs-all-2.png" alt=""> -->
</section>