<section class="contacts">
    <div class="container">

        <div
            class="contacts-block d-flex align-items-center justify-content-center justify-content-md-around flex-column flex-md-row">
            <div class="contacts-information">
                <h2 class="title-medium contacts-title mb-3 mb-lg-4">Остались вопросы?</h2>
                <p class="contacts-text">Обращайтесь к нам — мы дадим вам всю необходимую информацию о том, как мы
                    будем привлекать для вас клиентов
                </p>

                <div class="messenger d-flex flex-md-row flex-column align-items-center">
                    <div class="messenger-item d-flex align-items-center justify-content-md-start">
                        <a href=""><img class="social me-2 me-lg-3" src="img/9-contacts/c-whats_app.png" alt=""></a>
                        <a href=""><img class="social me-2 me-lg-3" src="img/9-contacts/c-viber.png" alt=""></a>
                        <a href=""><img class="social" src="img/9-contacts/c-telega.png" alt=""></a>
                    </div>
                    <a class="contacts-number" href="tel:+78005001871">+7 (800) 500-18-71 <br>Ldigital.ru</a>
                </div>
            </div>

            <div class="important d-flex flex-column align-items-center mx-auto mx-sm-0">
                <img class="mb-5" src="img/9-contacts/error.png" alt="">
                <h3 class="important-title mb-4">Важно</h3>
                <p class="important-text">
                    Мы берем
                    <span>только одного <br> партнера</span> в вашем регионе <br> и
                    <span>не работаем с конкурентами</span>
                </p>
            </div>
        </div>

    </div>
</section>