<section id="coop" class="cooperation position-relative">
    <div class="container">
        <h1 class="title-medium mb-5">Сотрудничайте с нами,<br><span>и вы получите:
            </span></h1>
        <p class="cooperation-information position-relative mb-4">Поток реальных клиентов</p>
        <p class="cooperation-information position-relative">Мы поможем вам и вашему бизнесу развиваться в верном
            направлении, и увеличить
            заработок!
        </p>
        <div class="cooperation-stage d-flex flex-wrap">
            <div
                class="cooperation-stages__element position-relative d-flex flex-column align-items-center justify-content-center mx-auto mb-3">
                <img class="cooperaton-stages__element--img mb-3" src="img/4-cooperation/coop-one.png" alt="">
                <p class="cooperation-stages__element--text">Наша команда имеет собственные ресурсы -
                    от вас понадобятся только данные для связи</p>
                <div class="cooperation-stages__element--number position-absolute">01</div>
            </div>
            <div
                class="cooperation-stages__element position-relative d-flex flex-column align-items-center justify-content-center mx-auto mb-3">
                <img class="cooperaton-stages__element--img mb-3" src="img/4-cooperation/coop-two.png" alt="">
                <p class="cooperation-stages__element--text">Работаем с собственной CRM-системой. Прием лидов происходит
                    в реальном времени</p>
                <div class="cooperation-stages__element--number position-absolute">02</div>
            </div>
            <div
                class="cooperation-stages__element position-relative d-flex flex-column align-items-center justify-content-center mx-auto mb-3">
                <img class="cooperaton-stages__element--img mb-3" src="img/4-cooperation/coop-three.png" alt="">
                <p class="cooperation-stages__element--text">Наши лиды приносят
                    заказчикам от 20 до 40% встреч и переговоров от общего числа лидов</p>
                <div class="cooperation-stages__element--number position-absolute">03</div>
            </div>
            <div
                class="cooperation-stages__element position-relative d-flex flex-column align-items-center justify-content-center mx-auto mb-3">
                <img class="cooperaton-stages__element--img mb-3" src="img/4-cooperation/coop-four.png" alt="">
                <p class="cooperation-stages__element--text">Мы проводим работу
                    со всеми городами
                    в РФ и приводим до 100 заявок в зависимости
                    от региона</p>
                <div class="cooperation-stages__element--number position-absolute">04</div>
            </div>
            <div
                class="cooperation-stages__element position-relative d-flex flex-column align-items-center justify-content-center mx-auto mb-3">
                <img class="cooperaton-stages__element--img mb-3" src="img/4-cooperation/coop-five.png" alt="">
                <p class="cooperation-stages__element--text">Нами задействуются все регионы России для генерации лидов
                </p>
                <div class="cooperation-stages__element--number position-absolute">05</div>
            </div>
        </div>
    </div>
    <button class="btn-general btn-cooperation d-sm-none d-block position-absolute" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">НУЖНЫ ЗАЯВКИ</button>
    <img class="coop-abs position-absolute" src="img/4-cooperation/coop-abs.png" alt="">
</section>