<section id="contacts" class="form position-relative">
    <div class="container">
        <div class="form-block position-relative d-md-block d-flex justify-content-center">

            <form action="" class="general-from form-form d-flex flex-column">
                <h2 class="title-medium title-form text-center mb-3">Укажите свои данные <br>
                    для связи</h2>
                <p class="form-info text-center mb-2">Наш менеджер свяжется с вами в ближайшее время</p>
                <input class="general-form__input mb-2" type="text" placeholder="Ваше имя">
                <input class="general-form__input mb-2" type="tel" placeholder="Телефон">
                <button class="btn-general btn-from" type="submit">Хочу получать заявки</button>
            </form>

            <img class="f-woman position-absolute d-md-block d-none" src="../img/8-form/f-woman.png" alt="">
        </div>
    </div>
    <img class="j-line-top position-absolute d-sm-block d-none" src="img/7-jobs/j-line-bot.png" alt="">
    <img class="j-line-top-mob position-absolute d-sm-none d-block" src="img/7-jobs/j-line-bot-mob.png" alt="">
    <img class="f-bot-line position-absolute d-sm-block d-none" src="img/8-form/f-bot-line.png" alt="">
    <img class="f-bot-line-mob position-absolute d-sm-none d-block" src="img/8-form/f-bot-line-mob.png" alt="">
</section>