<!-- header -->
<section class="header mt-sm-2 mt-0 overflow-hidden position-relative">
    <div class="container position-relative">
        <div class="header-content">
            <h1 class="title-header">Получите <br>
                <span>качественные заявки</span> <br>
                на оформление виз!
            </h1>
            <button class="btn-general d-sm-block d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">НУЖНЫ
                ЗАЯВКИ</button>
        </div>
        <img class="h-side-mob position-absolute" src="img/3-header/h-side-mob.png" alt="">
        <img class="h-side position-absolute d-sm-block d-none" src="img/3-header/h-side.png" alt="">
        <img class="h-comment position-absolute d-sm-block d-none" src="img/3-header/h-comment.png" alt="">
    </div>
    <img class="line-decoration position-absolute w-100" src="img/3-header/417.png" alt="">
    <img class="line-decoration-mob position-absolute" src="img/3-header/line-decoration-mob.png" alt="">
</section>
<!-- header -->