<section id="job" class="jobs position-relative">
    <div class="container">
        <h2 class="title-medium jobs-title">Как мы работаем над привлечением клиентов<br><span>для вашего бизнеса по
                оформлению
                виз?</span></h2>
        <div class="jobs-steps d-flex align-items-start justify-content-between">
            <p class="jobs-steps-text">Изучите шаги, которые используют наши специалисты для привлечения вашему бизнесу
                потенциальных клиентов.</p>
            <button class="btn-general d-md-block d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">нужны
                заявки</button>
        </div>

        <div class="jobs-number position-relative">
            <div class="jobs-number-block d-flex">

                <div class="jobs-number-block__item d-flex align-items-start">
                    <img class="jobs-number-block__element me-2" src="img/7-jobs/j-one.png" alt="">
                    <p class="jobs-number-block__text">Команда специалистов подготавливается к работе с вашей нишей.
                        Производится генерация лидов и запуск аналитики</p>
                </div>

                <div class="jobs-number-block__item d-flex align-items-start">
                    <img class="jobs-number-block__element me-2" src="img/7-jobs/j-two.png" alt="">
                    <p class="jobs-number-block__text">Настройка и запуск CRM-системы. Специалисты вводят CRM-систему и
                        предоставляют доступ клиенту
                    </p>
                </div>

                <div class="jobs-number-block__item d-flex align-items-start">
                    <img class="jobs-number-block__element me-2" src="img/7-jobs/j-three.png" alt="">
                    <p class="jobs-number-block__text">Подключается трафик. Специалисты запускают трафик
                        в работу, автоматически начинают приходить заявки</p>
                </div>

            </div>

            <div class="jobs-number-block-two d-flex justify-content-end">

                <div class="jobs-number-block__item--two d-flex align-items-start">
                    <p class="jobs-number-block__text me-2">Применяются альтернативные пути
                        и ресурсы, создаются креативы, баннеры, проводится A/B-тестирование</p>
                    <img class="jobs-number-block__element" src="img/7-jobs/j-four.png" alt="">
                </div>

                <div class="jobs-number-block__item--two d-flex align-items-start ms-3">
                    <p class="jobs-number-block__text me-2">Настройка и поддержка таргета в Instagram и Facebook,
                        приносящие
                        больше клиентов и прибыли
                    </p>
                    <img class="jobs-number-block__element" src="img/7-jobs/j-five.png" alt="">
                </div>

                <div class="jobs-number-block__item--two d-flex align-items-start ms-3">
                    <p class="jobs-number-block__text me-2">Создание и ведение рекламных кампаний в Яндекс и Google Ads,
                        которые приносят высокий результат</p>
                    <img class="jobs-number-block__element" src="img/7-jobs/j-six.png" alt="">
                </div>

            </div>

            <img class="jobs-line-r position-absolute" src="img/7-jobs/jobs-line-right.png" alt="">
        </div>

        <div class="jobs-steps-mob mb-md-0 mb-5">
            <div class="jobs-steps-mob__item position-relative">
                <h1 class="title-jobs__number mb-3">01</h1>
                <p class="jobs-number-block__text mt-0">Команда специалистов подготавливается к работе с вашей нишей.
                    Производится генерация лидов и запуск аналитики</p>
                <img class="j-mob-img position-absolute" src="img/7-jobs/j-1-mob.png" alt="">
            </div>

            <div class="jobs-steps-mob__item position-relative">
                <h1 class="title-jobs__number mb-3">02</h1>
                <p class="jobs-number-block__text mt-0">Настройка и запуск CRM-системы. Специалисты вводят CRM-систему и
                    предоставляют доступ клиенту
                </p>
                <img class="j-mob-img position-absolute" src="img/7-jobs/j-2-mob.png" alt="">
            </div>

            <div class="jobs-steps-mob__item position-relative">
                <h1 class="title-jobs__number mb-3">03</h1>
                <p class="jobs-number-block__text mt-0">Подключается трафик. Специалисты запускают трафик в работу,
                    автоматически начинают приходить заявки</p>
                <img class="j-mob-img position-absolute" src="img/7-jobs/j-3-mob.png" alt="">
            </div>

            <div class="jobs-steps-mob__item position-relative">
                <h1 class="title-jobs__number mb-3">04</h1>
                <p class="jobs-number-block__text mt-0">Создание и ведение рекламных кампаний в Яндекс и Google Ads,
                    которые приносят высокий результат</p>
                <img class="j-mob-img position-absolute" src="img/7-jobs/j-4-mob.png" alt="">
            </div>

            <div class="jobs-steps-mob__item position-relative">
                <h1 class="title-jobs__number mb-3">05</h1>
                <p class="jobs-number-block__text mt-0">Настройка и поддержка таргета в Instagram и Facebook, приносящие
                    больше клиентов и прибыли
                </p>
                <img class="j-mob-img position-absolute" src="img/7-jobs/j-5-mob.png" alt="">
            </div>

            <div class="jobs-steps-mob__item position-relative">
                <h1 class="title-jobs__number mb-3">06</h1>
                <p class="jobs-number-block__text mt-0">Применяются альтернативные пути
                    и ресурсы, создаются креативы, баннеры, проводится A/B-тестирование</p>
                <img class="j-mob-img position-absolute" src="img/7-jobs/j-6-mob.png" alt="">
            </div>
        </div>
        <button class="btn-general d-md-none d-block mx-auto" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">нужны заявки</button>

    </div>
</section>