<section class="more">
    <div class="container position-relative">
        <div
            class="more-block d-flex justify-content-lg-end justify-content-around flex-md-row flex-column position-relative align-items-lg-stretch align-items-center">
            <div class="more-info position-relative mb-md-0 mb-5">
                <h3 class="more-info__title mb-1">Вам нужно <br>
                    больше заявок?</h3>
                <p class="more-info-text">
                    Не ждите, свяжитесь с нами <br> <span>уже сейчас!</span></p>
                <div class="more-next d-flex justify-content-center align-items-center position-absolute">
                    <img src="img/5-more/more-arrow.png" alt="">
                </div>
            </div>
            <form action="" class="general-from more-form d-flex flex-column justify-content-between">
                <input class="general-form__input mb-lg-0 mb-md-1 mb-2" type="text" placeholder="Ваше имя">
                <input class="general-form__input mb-lg-0 mb-md-1 mb-2" type="tel" placeholder="Телефон">
                <button class="btn-general" type="submit">НУЖНЫ ЗАЯВКИ</button>
            </form>
            <img class="more-abs position-absolute d-sm-block d-none" src="img/5-more/more-abs.png" alt="">
            <img class="woman-abs position-absolute" src="img/5-more/woman-abs.png" alt="">
            <img class="more-abs-mobile position-absolute d-sm-none d-block" src="img/5-more/more-abs-mobile.png"
                alt="">
        </div>
        <!-- <img class="woman-abs position-absolute" src="../img/5-more/woman-abs.png" alt=""> -->
    </div>
</section>