<!-- nav -->
<nav class="navigation">
    <div class="container">
        <div class="navigation-line py-3 d-flex justify-content-between align-items-center position-relative">

            <img class="burder-menu d-md-none d-md-flex" src="img/2-nav/burger.png" alt="">
            <img class="logo" src="img/2-nav/logo.png" alt="">

            <div class="navigation-block d-md-flex d-none">
                <a class="navigation-block__item me-lg-3 me-2" href="#coop">Преимущества</a>
                <a class="navigation-block__item me-lg-3 me-2" href="#cases">Наши кейсы</a>
                <a class="navigation-block__item me-lg-3 me-2" href="#job">Как мы работаем</a>
                <a class="navigation-block__item" href="#contacts">Контакты</a>
            </div>

            <div class="navigation-block__mobile  d-none flex-column py-5 ps-3 position-absolute">
                <a class="navigation-block__item me-lg-3 mb-3" href="#coop">Преимущества</a>
                <a class="navigation-block__item me-lg-3 mb-3" href="#cases">Наши кейсы</a>
                <a class="navigation-block__item me-lg-3 mb-3" href="#job">Как мы работаем</a>
                <a class="navigation-block__item" href="#contacts">Контакты</a>
            </div>

            <a class="number-desctop d-lg-inline-block d-none" href="tel:+78005001871">+7 (800)
                500-18-71</a>

            <a class="number-mobile d-lg-none d-flex" href="tel:+78005001871"><img src="img/2-nav/mob-nav.png"
                    alt=""></a>
        </div>
    </div>
</nav>
<!-- nav -->